* {margin: 0; padding: 0; }

@font-face {
	font-family: HeRe; /* Гарнитура шрифта */
    src: url('../fonts/HeinzHeinrich-Regular.otf'); /* Путь к файлу со шрифтом */ 
}

@font-face {
	font-family: TG17th; /* Гарнитура шрифта */
    src: url('../fonts/TG17th.TTF'); /* Путь к файлу со шрифтом */ 
}

@font-face {
	font-family: PixelCyr; /* Гарнитура шрифта */
    src: url('../fonts/PixelCyr.ttf'); /* Путь к файлу со шрифтом */ 
}

body{
	background-color: #000000FF; /* Цвет фона веб-страницы */
} 

header{

	height: 220px;
	/*background: url(../img/wood.png) repeat-x center top;*/
	background-color: #0F0F0FFF;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: TG17th;
	font-weight: bold;
	font-style: normal;
	font-size: 100%;
	color: #EEEEECFF;	
}

.bodyblock{
	background-color: #E2E2E2; /* Цвет фона веб-страницы */
	margin: 0px auto;
	width: 93%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 80px;
	padding-bottom: 80px; 
	border:5px solid #BABDB6FF;
	border-radius: 10px;
	box-shadow: 0 0 20px #888A85FF;
	font-size: 20px;
	font-family: PixelCyr;
}


.logo{
	width: 200px;
	height: 194px;
	/*background: url(../img/logo.png) no-repeat center top;*/
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	border:1px solid #BABDB6FF;
	font-family: TG17th;
	font-size: 50px;
	color: #EEEEECFF;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content{
/*
	transform: scale(1);
	transition:1s transform;
*/
	background-color: #E2E2E2; /* Цвет фона веб-страницы */
	margin: 0px auto;
	width: 85%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%; 
	border:5px solid #BABDB6FF;
	border-radius: 10px;
	box-shadow: 0 0 20px #888A85FF;
	font-size: 20px;
	font-family: PixelCyr;
}

.content p{
	font-family: PixelCyr;
}

.content:hover{
/*
	transform: scale(1.05);
	transition: 1s transform;
*/
}

footer{
	border: 0px solid #BABDB6FF;
	height: 400px;
	text-align:center;
	background-color: #000000FF;
	margin-top: 40px;
	padding-top: 20px;
	color: #D3D7CFFF;
	font-family: PixelCyr;
}

.information{
	width: 300px;
	height: 250px;
	margin: 0px auto;
	float: left;
	border:1px solid #BABDB6FF;
	font-family: PixelCyr;
	font-size: 18px;
	color: #EEEEECFF;
	margin-left: 8%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
}

.creator{
	width: 99%;
	height: 30px;
	float: left;
	border: 0px solid #BABDB6FF;
	font-family: PixelCyr;
	font-size: 18px;
	color: #EEEEECFF;
	margin-left: 0px;
	margin-top: 50px;
}